

.carousel {
  height: 63vh; 
  width: inherit;
  min-height: fit-content;
  margin: 20px auto;
  position: relative;
  border-radius: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.carousel > h1 {
  z-index: 3;
  font-size: 3rem;
  text-shadow: 1px 0 white;
  color: white;
  padding-top: 7rem;
}
.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
  
}

.slide1 {
   background: image-url('caro1.png') no-repeat center;
   background-size: cover;
   animation:fade 10s infinite;
   -webkit-animation:fade 10s infinite;

} 
.slide2 {
   background: image-url('caro2.png') no-repeat center;
   background-size: cover;
   animation:fade2 10s infinite;
   -webkit-animation:fade2 10s infinite;
}
.slide3 {
   background: image-url('caro3.png') no-repeat center;
   background-size: cover;
   animation:fade3 10s infinite;
   -webkit-animation:fade3 10s infinite;
}


@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

