.featured-areas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 66rem;
    height: 22rem;
    position: relative;
    position: relative;
    justify-self: center;
    background: black;
    margin-bottom: 4rem;
}

.featured-areas .area-name {
    opacity: 1;
}

.featured-areas div {
    display: flex;
    flex-direction: column;
    width: 22rem;
    height: 11rem;
    position: relative;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: white;
    font-weight: bold;
}
.featured-head {
    width: 80%;
    border-bottom: 1px solid lightgray;
    padding: 1rem 0;
    font-size: 24px;
    font-family: 'ABeeZee', sans-serif;
}
.featured-areas > *:hover {
    opacity: 1;
    cursor: pointer;
}

.ny {
    background: image-url('ny.jpg') 100% 100% no-repeat;
}
.chicago {
    background: image-url('chicago.jpg') 100% 100% no-repeat;
}
.la {
    background: image-url('la.jpg') 100% 100% no-repeat;
}
.sf {
    background: image-url('sf.jpg') 100% 100% no-repeat;
}
.sd {
    background: image-url('sd.jpg') 100% 100% no-repeat;
}
.lv {
    background: image-url('lv.jpg') 100% 100% no-repeat;
}