.featured-areas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 66rem;
    height: 22rem;
    position: relative;
    position: relative;
    justify-self: center;
    background: black;
    margin-bottom: 3rem;
    margin-top: 1rem;
}


.featured-areas .area-name {
    opacity: 1;
    z-index: 1;
}

.area-name:hover::after {
    opacity: 1;
    cursor: pointer;
}

.featured-areas div {
    display: flex;
    flex-direction: column;
    width: 22rem;
    height: 11rem;
    position: relative;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: white;
    font-weight: bold;
}
.featured-head {
    width: 56rem;
    border-bottom: 1px solid lightgray;
    padding: 0 0;
    font-size: 24px;
    font-family: 'ABeeZee', sans-serif;
}

.ny::after {
    background: image-url('ny.jpg') 100% 100% no-repeat;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    z-index: -1;
} 
.chic::after {
    background: image-url('chicago.jpg') 100% 100% no-repeat;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    z-index: -1;
}
.la::after {
    background: image-url('la.jpg') 100% 100% no-repeat;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    z-index: -1;
}
.sf::after {
    background: image-url('sf.jpg') 100% 100% no-repeat;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    z-index: -1;
}
.sd::after {
    background: image-url('sd.jpg') 100% 100% no-repeat;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    z-index: -1;
}
.lv::after {
    background: image-url('lv.jpg') 100% 100% no-repeat;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    z-index: -1;
}
////////////
.accordion {
    width: 750px;
    height: 230px;
    overflow: hidden;
    box-shadow: 0 10px 6px -6px #111;
    margin: 20px auto;
}
.accordion ul { width: 200% }

.accordion li {
	position: relative;
	display: block;
	width: 160px;
	float: left;
  box-shadow: 0 0 30px 8px #222;
	transition: all 0.4s ease .300ms;
}

.accordion ul:hover li {width: 40px }
.accordion ul li:hover {width: 640px }

.caption {
    position: absolute;
    left: 5rem;
    bottom: 49%;
    font-size: 30px;
    font-weight: bold;
    font-family: 'ABeeZee', sans-serif;
    color: white;
}

.accordion img {
    height: 15rem;
    width: 25rem;
}

.caption:hover {
    cursor: pointer;
}

.am {
    width: 26rem;
}