
footer {
   position: relative;
   bottom: 0;
   display: flex;
   justify-content: flex-end;
   height: 100px;
   width: 100vw;
   background-color: #333333;
}

.external-links {
   display: flex;
   position: relative;
   height: 40px;
   padding: 5px 10vw 0 0;
}

.external-links > * {
   margin: 5px;
   display: block;
   height: 35px;
   width: 35px;
   transition: all .2s ease-in-out;
}

.external-links > *:hover {
      transform: scale(1.1);
}

#github {
   background: image-url('github.png') 100% 100% no-repeat;
   background-size: contain;
}

#linkedin {
   background: image-url('linkedin.png') 100% 100% no-repeat;
   background-size: contain;
}

footer > h5 {
   color: white;
   padding-right: 10px;
}