.rest-show {
    padding: 0 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.rest-banner {
    // background: image-url('rest_thumb.png') 100% 60%;
    object-fit: cover;
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
}

.rest-main {
    width: 45rem;
    border: 1px solid lightgray;
    background-color: white;
    margin: -4rem 0 1rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.rest-main > * {
    padding: 0rem 1rem 0 1rem;
    opacity: 0.8;
}

.show-item-name {
    font-size: 50px;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid whitesmoke;
}

.rest-details {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    min-height: 50rem;
    border: 1px solid lightgray;
    position: relative;
    margin: 1rem 0 2rem 1rem;

}

.rest-details > * {
    padding: 0.5rem 1rem 0 1rem;
    font-weight: bold;
    font-size: 14px;
}

.rest-details p {
    font-size: 14px;
    font-weight: lighter;
    padding-left: 1.5rem;
    opacity: 0.8;
} 
i {
    height: 26px;
    width: 26px;
    opacity: 0.8;
}

.notfounderror {
    background: image-url('banana.jpg') 100% 100%;
    height: 100vh;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.6;
}

.notfounderror div {
    font-size: -webkit-xxx-large;
    opacity: 1;
}

.notfounderror > * {
    color: black;
    font-weight: bold;
}