.rest-index-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    position: relative;
    padding-bottom: 1rem;
}

.rest-index-item {
    display: flex;
    flex-direction: row;
    padding: 1rem 0 1rem 12rem;
    border-bottom: 1px solid lightgray;
}
.rest-thumb {
    image-rendering: optimizeSpeed;
    object-fit: cover;
    height: 15rem;
    width: 15rem;
    border-radius: 5px;     
    max-width: 100%;
    max-height: 100%

}

.index-item-info {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.rest-thumb:hover {
    cursor: pointer;
}

.index-item-name {
    font-weight: bold;
    font-size: 26px;
    color: #247f9e;
}

.index-item-name:hover {
    cursor: pointer;
    color: lightblue;

}


///error

.restaurant-search-error {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.restaurant-search-error div {
    font-weight: bold;
    color: gray;
    justify-self: center;
    width: 100%;
    text-align: center;
}

.restaurant-search-error p {
    text-align: center;
    color: black
}