$colors: red, orange, yellow, green, blue, purple;

.review-ul {
    width: inherit;
    height: inherit;
    overflow: scroll;
    margin: 3rem 0 0;
}
.review-index-item {
    display: flex;
    flex-direction: row;
    border-top: 1px solid lightgray;
    padding: 1rem;
}

.review-left {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    font-size: 18px;
    padding: 0 12px;
}

.review-left > * {
    padding: 1rem;
    margin: 0;
}

.review-location {
    color: gray;
    padding: 0;
    font-weight: lighter;
}

.review-user-icon {
    background-color: nth($colors, random( length($colors) ));
    color: white;
    border-radius: 30px;
    height: 24px;
    width: 24px;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
}

.review-right {
    display: flex;
    flex-direction: column;
    width: 80%
}

.review-stars-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2rem;
    width: fit-content;
}

.review-ratings {
    display: flex;
    flex-direction: row;
    height: 1rem;
}

.review-ratings > * {
    height: 2rem;
    margin: 0;
}

.review-num-rating{
    color: red;
    padding-left: 8px;
    padding-right: 2px;
}

.review-comment {
    font-weight: lighter;
    margin: 1rem 0;
}

.review-stars {
    width: 112px;
    height: 23px;
}

.reviews-eaten {
    font-weight: 100;
}

.review-stars .overall {
    padding-right: 10px;
}

.reviews-details {
    display: flex;
    flex-direction: column;
}

.reviews-details > h2 {
    border-bottom: 1px solid lightgray;
    padding: 1rem 0;
    border-top: 1px solid lightgray;
}

.avg-ratings {
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.avg-rating-col {
    display: flex;
    flex-direction: column;
    border-right: 1px solid lightgray;
    padding: 0 5px;
}