.search-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 3.5rem;
    width: max-content;
}

.search-container > * {
    background: white;
    border-radius: 5px;

}

.search-info {
    width: 27rem;
    margin: 0 1rem 0 2rem;
}

.search-type {
    width: 22rem;
    margin: 0 1rem 0 1rem;
    display: flex;
    flex-direction: row;
}

.search-icon {
    background: image-url('glass.png') 100% 100% no-repeat;
    width: 3rem;
    height: 100%;
    background-size: 40%;
    background-position: center;
}

.search-type input {
    font-size: 20px;
    height: auto;
    width: 80%;
    font-weight: 300;
    -webkit-appearance: none!important;
    border: 0;

}

input:focus{
    outline: none;
}

.search-submit {
    width: 12rem;
    background-color: #da3743;
    border-color: #b8222d;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    line-height: 3.25rem;
    margin: 0 2rem 0 1rem;
}

.search-submit:hover {
    background-color: #b8222d;;
    transition: background-color 300ms ease-out;
}

///////index search

.index-search-bar {
    background: image-url('search.png') 100% 100%;
    width: 100%;
    height: 6rem;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    min-height: fit-content;
}

.index-search-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 16px;
    border-radius: 10px;
}

.index-search-container > * {
    background-color: white;
    margin: 0;
}

.index-search-container .search-info {
    border-radius: 5px 0 0 5px;
    opacity: 0.8;
}
.index-search-container .search-type {
    border-left: 1px solid lightgray;
    opacity: 0.8;
}

.index-search-container .search-submit {
    background: #da3743;
    border-radius: 0 5px 5px 0;
    text-align: center;
    font-size: 18px;
    line-height: 3.8rem;
}

.index-search-container .search-submit:hover {
    background-color: #b8222d;;
    transition: background-color 300ms ease-out;
}
