.search-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 3.5rem;
    width: max-content;
}

.search-container > * {
    background: white;
    border-radius: 5px;

}

.search-info {
    width: 27rem;
    margin: 0 1rem 0 2rem;
}

.search-type {
    width: 22rem;
    margin: 0 1rem 0 1rem;
    display: flex;
    flex-direction: row;
}

.search-icon {
    background: image-url('glass.png') 100% 100% no-repeat;
    width: 3rem;
    height: 56px;
    background-size: 40%;
    background-position: center;
}

.search-type input {
    font-size: 20px;
    height: auto;
    width: 80%;
    font-weight: 300;
    -webkit-appearance: none!important;
    border: 0;

}

input:focus{
    outline: none;
}

.search-submit {
    width: 12rem;
    background-color: #da3743;
    border-color: #b8222d;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    line-height: 3.25rem;
    margin: 0 2rem 0 1rem;
}

.search-submit:hover {
    background-color: #b8222d;;
    transition: background-color 300ms ease-out;
}