form h3 {
    font-weight: lighter;
    text-rendering: optimizeLegibility;
    color: #333;
    margin: 0 0 1rem;
    font-size: 1.8rem;
    line-height: 1.165;
    position: relative;
}

.session-form-box {
    padding: 3rem;
}

.session-form-box > * {
   display: flex;
   flex-direction: column;
}


.session-form input {
    font-weight: 600;
    display: block;
    background: #fff;
    font-size: .875rem;
    margin-bottom: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 1rem 0rem 1.5rem 1rem;
}
.session-form input:focus {
    border: 1px solid gray;
}
.session-hr {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-width: 1px 0 0;
}

.session-form .submit-btn {
    background-color: #da3743;
    border-color: #b8222d;
    color: white;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    height: 3.5rem;
}

.submit-btn:hover {
    background-color: #b8222d;
    transition: background-color 300ms ease-out;
}

.session-form .submit-btn:focus {
    border: none;
}

.session-form .demo-btn {
    color: gray;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    min-height: 3.5rem;
    border: 2px solid lightgray;
    border-radius: 4px;
}

.demo-btn:hover {
    border-color: #da3743;
}

.session-error {
    color: red;
    font-size: 14px;
    opacity: 0.8;
    height: 16px;
}

.session-form h5 {
    height: 5px;
    border-top: 1px solid lightgray;
    padding-top: 1rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
}
